*{
    margin: 0;
    padding: 0;
}


main
{
    height: 700px;  
    width:100% ;
    background-image: url(/image-asset.jpeg);
    background-size: cover;
}
.spc{ 
    margin:15px ;
}
.heading_h1{
    color: white;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    margin:0 10% 0 10% ;
    padding: 22% 11% 18px 14%;
    text-wrap: wrap;
}
.btn{
    margin: 10px;
    font-size:20px;
    border:2px solid white;  
    border-radius: 2px;  
    padding: 10px;
}
.btn_main{
    margin:35%;
}
.main_lern{
    background-color: transparent;
    color:white;
}
.cam_nav{
    width: 1890;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    color: white;
    font-size: 35px;
    align-self: center;
    font-weight: 1000;
}
.nav_tab_element {
    align-self: center;
    color: white;
    font-size: 20px;
    background-color: black;
    border: none;
    font-weight: bolder;
    padding: 10px 15px;

}
.cam_nav_tab{
    align-self: center;
}
.nav_tab_element:hover{
    outline: 1px white solid;
}